* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.nav-link {
  color: #5d7e94a3;
  font-size: 22px;
  padding-top: 40px;
  margin-right: 100px;
  font-weight: bold;
  margin-left: 30%;
}
.nav-link:hover {
  color: #5d7e94;
}
.inputGroupName,
.inputGroupAdress {
  margin-top: 30px;
}
.oneInput {
  margin-top: 30px;
}
.btn {
  margin-left: 44%;
  margin-top: 80px;
  width: 150px;
  background-color: #5d7e94a3;
  border: none;
}
.btn:hover {
  background-color: #5d7e94;
}
.container_error {
  margin-top: 50px;
}
span {
  font-size: 250px;
  margin-left: 35%;
  color: rgba(3, 63, 96, 0.673);
}
h1 {
  text-align: center;
  color: rgba(3, 63, 96, 0.673);
}
.link_home {
  color: #5d7e94a3;
  text-decoration: none;
  font-size: 22px;
  margin-left: 40%;
}
.link_home:hover {
  color: rgba(3, 63, 96, 0.673);
}

.SelectState {
  height: 37px;
  background-color: #f6f6f6;
}
.SelectDepartment {
  background-color: #f6f6f6;
  margin-left: 42%;
  height: 37px;
  width: 15%;
}

.link_home_employe {
  color: #5d7e94a3;
  text-decoration: none;
  font-size: 22px;
  margin: 47%;
  margin-top: 80px;
  font-weight: bold;
}
.link_home_employe:hover {
  color: rgba(3, 63, 96, 0.673);
}

.labelDepartment {
  margin-left: 42%;
  margin-top: 50px;
}
.labelState {
  margin-top: 30px;
}

.inputDate {
  height: 38px;
  margin-left: 5px;
  width: 220px;
  border: 1px solid #ced4d9;
  border-radius: 5px;
}
.table {
  margin: auto 100px;
}
table {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 80%;
}
/* tbody,
thead {
  border: none;
} */
.th {
  text-align: center;
  margin-top: auto;
  background-color: #797d8049;
  padding: 10px;
}
.Show {
  margin-top: 50px;
  width: 80%;
  display: flex;
  flex-direction: row;
}
.labelShow,
.labelEntries {
  margin-right: 20px;
  margin-left: 20px;
}
select {
  height: 30px;
}
.labelSearch {
  margin-left: 55%;
}
.search {
  margin-left: 20px;
  height: 30px;
}
